<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoCell$CellSerializer">
         </serializer>
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoCell$ValueFactory">
         </ValueFactory>
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoPointCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoPointCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoPointCell$CellSerializer">
         </serializer>
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoPointCell$ValueFactory">
         </ValueFactory>
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoLineCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoLineCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoLineCell$CellSerializer">
         </serializer>
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoLineCell$ValueFactory">
         </ValueFactory>
      </DataType>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.MultiLineStringValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoPointValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.MultiLineStringValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoLineValue">
         <renderer
               rendererFactoryClass="org.knime.core.data.renderer.MultiLineStringValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
   </extension>
   <extension
         point="org.knime.core.DataColumnMetaDataType">
      <DataColumnMetaData
            dataColumnMetaDataExtension="org.knime.geospatial.core.data.metadata.GeoValueMetaDataExtension">
      </DataColumnMetaData>
   </extension>
</plugin>
