<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.DataType">
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoLineCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoLineCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoLineCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoLineCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoPointCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoPointCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoPointCell$CellSerializer">
         </serializer>
         <!--         
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoPointCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoPolygonCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoPolygonCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoPolygonCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoPolygonCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoCollectionCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoCollectionCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoCollectionCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoCollectionCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoMultiLineCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoMultiLineCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoMultiLineCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoMultiLineCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoMultiPointCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoMultiPointCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoMultiPointCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoMultiPointCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
      <DataType
            cellClass="org.knime.geospatial.core.data.cell.GeoMultiPolygonCell">
         <serializer
               cellClass="org.knime.geospatial.core.data.cell.GeoMultiPolygonCell"
               serializerClass="org.knime.geospatial.core.data.cell.GeoMultiPolygonCell$CellSerializer">
         </serializer>
         <!--
         <ValueFactory
               deprecated="false"
               valueFactoryClass="org.knime.geospatial.core.data.cell.GeoMultiPolygonCell$ValueFactory">
         </ValueFactory> 
         -->
      </DataType>
   </extension>
   <extension
         point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoLineValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoPointValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoPolygonValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoCollectionValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoMultiLineValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoMultiPointValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.geospatial.core.data.GeoMultiPolygonValue">
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueWKTRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
         <renderer
               rendererFactoryClass="org.knime.geospatial.core.data.util.GeoValueCRSRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   
   <extension
         point="org.knime.core.DataColumnMetaDataType">
      <DataColumnMetaData
            dataColumnMetaDataExtension="org.knime.geospatial.core.data.metadata.GeoValueMetaDataExtension">
      </DataColumnMetaData>
   </extension>
</plugin>
