<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
   point="org.knime.workbench.repository.categories">
    <category
     description="KNIME AP Geospatial Plugin"
     level-id="geospatial"
     name="KNIME AP Geospatial Plugin"
     path="/misc">
    </category>
  </extension>
  <extension
   point="org.knime.workbench.repository.nodes">
    <node
     category-path="/misc/geospatial"
     factory-class="org.knime.geospatial.reader.ShapefileReaderNodeFactory">
    </node>
  </extension>
</plugin>
